@font-face {
    font-family: 'IRANSans';
    font-style: bold;
    font-weight: 700;
    src: url(../fonts/IRANSans.eot);
    src: url(../fonts/IRANSans.eot?#iefix) format('embedded-opentype'), url(../fonts/IRANSans.woff2) format('woff2'), url(../fonts/IRANSans.woff) format('woff'), url(../fonts/IRANSans.ttf) format('truetype');
}

body {
    font-family: IRANSans !important;
}

a {
    font-family: IRANSans !important;
}

.opblock-summary-description {
    font-family: IRANSans !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: IRANSans !important;
}

span {
    font-family: IRANSans !important;
}

.popover, .tooltip {
    font-family: IRANSans !important;
}
.swagger-ui select {
    font-family: IRANSans !important;
}
div.topbar {
    background-color: #a63494 !important;
}

h2,
h3 {
    color: #f5624d !important;
}

.opblock-summary-get > button > span.opblock-summary-method {
    background-color: #235e6f !important;
}

.opblock-summary-post > button > span.opblock-summary-method {
    background-color: #0f8a5f !important;
}

.opblock-summary-delete > button > span.opblock-summary-method {
    background-color: #cc231e !important;
}

img[alt="Swagger UI"] {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: url('../../swagger-ui/images/logo.png');
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.swagger-ui .opblock .opblock-summary-method {
    border-radius: 20px !important;
}

.swagger-ui .scheme-container {
    padding: 10px 0 !important;
}

.swagger-ui .info {
    margin: 10px 0;
    text-align: center;
}

    .swagger-ui .info hgroup.main a span {
        display: none
    }

    .swagger-ui .info .title small {
        display: none !important
    }

    .swagger-ui .info .title small.version-stamp {
        display: none
    }
